<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>

        <!--FACTURAS DE CLIENTES-->

        <record id="account.action_invoice_tree1" model="ir.actions.act_window">
            <field name="name">Customer Invoices</field>
            <field name="res_model">account.invoice</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,kanban,form,calendar,pivot,graph</field>
            <field eval="False" name="view_id"/>
            <field name="domain">[('type','=', 'out_invoice')]</field>
            <field name="context">{'type':'out_invoice', 'journal_type': 'sale'}</field>
            <field name="search_view_id" ref="account.view_account_invoice_filter"/>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to create a customer invoice.
              </p><p>
                Odoo's electronic invoicing allows to ease and fasten the
                collection of customer payments. Your customer receives the
                invoice by email and he can pay online and/or import it
                in his own system.
              </p><p>
                The discussions with your customer are automatically displayed at
                the bottom of each invoice.
              </p>
            </field>
        </record>

        <record id="action_invoice_hoy_tree1" model="ir.actions.act_window">
            <field name="name">Facturas HOY</field>
            <field name="res_model">account.invoice</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,kanban,form,calendar,pivot,graph</field>
            <field eval="False" name="view_id"/>
            <field name="domain">[('date_invoice', '=', time.strftime('%Y-%m-%d')),('type','=', 'out_invoice')]</field>
            <field name="context">{'type':'out_invoice', 'journal_type': 'sale'}</field>
            <field name="search_view_id" ref="account.view_account_invoice_filter"/>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to create a customer invoice.
              </p><p>
                Odoo's electronic invoicing allows to ease and fasten the
                collection of customer payments. Your customer receives the
                invoice by email and he can pay online and/or import it
                in his own system.
              </p><p>
                The discussions with your customer are automatically displayed at
                the bottom of each invoice.
              </p>
            </field>
        </record>

        <record id="action_invoice_tree1_refund_view1" model="ir.actions.act_window">
            <field name="name">Notas de Crédito</field>
            <field name="res_model">account.invoice</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,kanban,form,calendar,pivot,graph</field>
            <field eval="False" name="view_id"/>
            <field name="domain">[('type','=', 'out_refund')]</field>
            <field name="context">{'type':'out_refund','default_type':'out_refund', 'journal_type': 'sale'}</field>
            <field name="search_view_id" ref="account.view_account_invoice_filter"/>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to create a customer invoice.
              </p><p>
                Odoo's electronic invoicing allows to ease and fasten the
                collection of customer payments. Your customer receives the
                invoice by email and he can pay online and/or import it
                in his own system.
              </p><p>
                The discussions with your customer are automatically displayed at
                the bottom of each invoice.
              </p>
            </field>
        </record>



        <record id="action_invoice_tree1_view1" model="ir.actions.act_window.view">
            <field eval="1" name="sequence"/>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="account.invoice_tree"/>
            <field name="act_window_id" ref="action_invoice_tree1_refund_view1"/>
        </record>

        <record id="action_invoice_tree1_view2" model="ir.actions.act_window.view">
            <field eval="2" name="sequence"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="account.invoice_form"/>
            <field name="act_window_id" ref="action_invoice_tree1_refund_view1"/>
        </record>


        <record id="action_account_payments_hoy" model="ir.actions.act_window">
            <field name="name">Pagos HOY</field>
            <field name="res_model">account.payment</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form,graph</field>
            <field name="context">{'default_payment_type': 'inbound', 'default_partner_type': 'customer'}</field>
            <field name="domain">[('partner_type', '=', 'customer'), ('payment_date', '=', time.strftime('%Y-%m-%d'))]</field>
            <field name="view_id" ref="account.view_account_payment_tree"/>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                  Click to register a payment
                </p><p>
                  Payments are used to register liquidity movements (send, collect or transfer money).
                  You can then process those payments by your own means or by using installed facilities.
                </p>
            </field>
        </record>


        <menuitem action="action_invoice_hoy_tree1" id="menu_action_invoice_tree_hoy1" parent="account.menu_finance_receivables" sequence="2"/>
        <menuitem action="action_invoice_tree1_refund_view1" id="menu_action_invoice_tree_refund1" parent="account.menu_finance_receivables" sequence="3"/>
        <menuitem action="action_account_payments_hoy" id="action_account_payments_hoy_menu" parent="account.menu_finance_receivables" sequence="4"/>

        <!--FACTURAS DE PROVEEDOR-->

        <record id="account.action_invoice_tree2" model="ir.actions.act_window">
            <field name="name">Vendor Bills</field>
            <field name="res_model">account.invoice</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,kanban,form,calendar,pivot,graph</field>
            <field eval="False" name="view_id"/>
            <field name="domain">[('type','=', 'in_invoice')]</field>
            <field name="context">{'default_type': 'in_invoice', 'type': 'in_invoice', 'journal_type': 'purchase'}</field>
            <field name="search_view_id" ref="account.view_account_invoice_filter"/>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to record a new vendor bill.
              </p><p>
                You can control the invoice from your vendor according to
                what you purchased or received.
              </p>
            </field>
        </record>

        <record id="action_invoice_tree_refund2" model="ir.actions.act_window">
            <field name="name">Notas de Débito</field>
            <field name="res_model">account.invoice</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,kanban,form,calendar,pivot,graph</field>
            <field eval="False" name="view_id"/>
            <field name="domain">[('type','=', 'in_refund')]</field>
            <field name="context">{'default_type': 'in_refund', 'type': 'in_refund', 'journal_type': 'purchase'}</field>
            <field name="search_view_id" ref="account.view_account_invoice_filter"/>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to record a new vendor bill.
              </p><p>
                You can control the invoice from your vendor according to
                what you purchased or received.
              </p>
            </field>
        </record>


        <record id="action_invoice_supplier_tree1_view1" model="ir.actions.act_window.view">
            <field eval="1" name="sequence"/>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="account.invoice_supplier_tree"/>
            <field name="act_window_id" ref="action_invoice_tree_refund2"/>
        </record>

        <record id="action_invoice__supplier_tree1_view2" model="ir.actions.act_window.view">
            <field eval="2" name="sequence"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="account.invoice_supplier_form"/>
            <field name="act_window_id" ref="action_invoice_tree_refund2"/>
        </record>

        <menuitem action="action_invoice_tree_refund2" id="menu_action_invoice_tree_refund2" parent="account.menu_finance_payables" sequence="1"/>

	</data>
</odoo>
